// Colors

// Fonts
$font--main: 'Work Sans', sans-serif;
$font-path: '../fonts';
$fa-font-path: $font-path;

// Grid
$grid-gutter: 30px;
$grid-columns: 12;
$breakpoints: ( 'xs': 576px, 'sm': 576px, 'md': 768px, 'lg': 992px, 'xl': 1200px );
